<label class="mt-1" for="typesMakers">Select a type of maker:</label>
<select class="mt-1" id="typesMakers" [(ngModel)]="selectedTypeMakers">
  <option *ngFor="let typeMakers of typesMakers" [value]="typeMakers">{{ typeMakers }}</option>
</select>

<p>The select maker is: {{ selectedTypeMakers }}</p>

<button type="submit" (click)="resposta()">Response</button>
<div [innerHTML]="message"></div>
